<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header">
    <div class="nav bg-dark d-flex d-flex-between-center flex-sm-column">
      <!-- logo -->
      <div class="logo">
        <a href="index.html">
          <img src="./assets/images/logo.png" alt="logo">
        </a>
      </div>
      <!-- 導覽列選單 -->
      <ul class="navbar d-flex flex-sm-wrap w-sm-100 ">
        <li class="w-sm-50">
          <a href="./product_optical.html">系列鏡框</a>
        </li>
        <li class="w-sm-50">
          <a href="./location.html">門市據點</a>
        </li>
        <li class="w-sm-50">
          <a href="./blog.html">部落格</a>
        </li>
        <li class="w-sm-50">
          <a href="./faq.html">常見問題</a>
        </li>
      </ul>
    </div>

    <!-- product op header -->

    <section class="product-nav  ">
      <ul class="product-nav-list container d-flex ">
        <li class="product-nav-item ">
          <a href="./product_optical.html" class="d-flex justify-center">
            <img src="./assets/images/icon-diamond-black.svg" alt="optical">
            <p class="product-nav-text text-3xl text-md-2xl text-sm-sm">OPTICAL</p>
          </a>
        </li>
        <li class="product-nav-item ">
          <a href="./product_sun.html" class="d-flex justify-center">
            <img src="./assets/images/icon-sun-black.svg" alt="sunglasses">
            <p class="product-nav-text text-3xl text-md-2xl text-sm-sm">SUNGLASSES</p>
          </a>
        </li>
        <li class="product-nav-item ">
          <a href="./product_optical.html" class="d-flex justify-center">
            <img src="./assets/images/icon-thunder-black.svg" alt="functional">
            <p class="product-nav-text text-3xl text-md-2xl text-sm-sm">FUNCTIONAL</p>
          </a>
        </li>
      </ul>
    </section>


  </header>


  <%- contents %>


  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>