.banner {
    background: url(../images/banner.png) no-repeat center center;
    background-size: cover;
    height: 840px;

    span{
        display: block;
        color:$secondary-color;
        font-family: $en-font-family;
    }
    @include phone-767{
        height: 394px;
    }
}



.service-list{
    li{
        width: 20%;
        margin-bottom: 80px;
        
        
        @include pad-992{
            width: 35%;
            margin-bottom: 57px;
        }
        @include phone-767{
            width: 70%;
        }
    }
    img{
        @include size(100px);
        margin-bottom: 40px;
        @include pad-992{
            @include size(80px);
            margin-bottom: 16px;
        }
    }
    
}
